@media screen and (max-width: 1200px) {
  #home p {
    font-size: 0.9rem;
  }

  #home h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  #home img {
    width: 40%;
  }
  #home .row {
    padding-bottom: 75px;
  }
  .social-icon {
    left: 50%;
    transform: translate(-50%);
  }
  .btn-custom1 {
    width: 75%;
  }
  #about p {
    text-align: justify !important;
  }
  #quotes p {
    text-align: center !important;
  }
  #skill .card h3 {
    font-size: 1.3rem;
  }
  #skill .card {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  hr {
    width: 50%;
  }
  h1 {
    font-size: 1.8rem !important;
  }
  h4 {
    font-size: 1.2rem !important;
  }
  h5 {
    font-size: 0.8rem !important;
  }
  #portofolio a {
    font-size: 0.5rem;
  }
  footer img {
    width: 75px;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  #portofolio .col-md-12 {
    flex-direction: column;
  }
}
