:root {
  --mainColor: #f3f4f7;
  --secondaryColor: #ffffff;
  --acsentColor: #be3144;
  --tersierColor: #303841;
  --semitersierColor: #3a4750;
}

body {
  background-color: var(--mainColor);
  margin: 0;
  padding: 0;
  font-family: "ubuntu", sans-serif;
}

section h1 {
  color: #303841;
  font-size: 2.5rem;
}

section {
  scroll-margin-top: 60px;
}

/* Navbar */
.nav {
  padding: 10px;
}
.nav-link:hover {
  box-shadow: 0 0 20px #dadada;
  background-color: #ffffff;
  border-color: #fff;
  font-weight: 550;
  color: var(--tersierColor);
}

.nav-link.active {
  color: var(--acsentColor) !important;
  font-weight: 700;
}
.nav-link.active:hover {
  box-shadow: 0 0 20px #dadada;
  background-color: var(--acsentColor);
  border-color: var(--acsentColor);
  color: #ffffff !important;
}

.nav-dark {
  background-color: var(--secondaryColor) !important;
  z-index: 99999999;
}
/* End Navbar */

/* Home */
.color-acsent {
  color: var(--acsentColor);
}
.color-tersier {
  color: var(--tersierColor);
}

.cv:hover {
  color: var(--acsentColor) !important;
  text-decoration: underline;
}

#home {
  color: #3a4750;
  min-height: 100vh;
  padding-top: 85px;
  padding-bottom: 30px;
}
#home h1 {
  font-size: 2.5rem;
}

#home h2 {
  font-weight: 300;
}

#home p {
  font-size: 1.2rem;
  font-weight: 300;
}
/* CTA */
.btn-custom1 {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  text-align: center;
  color: var(--acsentColor);
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 7px;
}
.rightarrow {
  color: var(--acsentColor);
}
.btn-custom1:hover {
  box-shadow: 0 0 20px #dadada;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  color: var(--tersierColor);
}

.download-cv {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.cv {
  color: var(--acsentColor);
}

.social-icon svg {
  margin-right: 0.5em;
}
.social-icon-footer svg {
  margin-right: 0.5em;
  margin-bottom: 10px;
}
/* End Home */

/* Quotes */
#quotes {
  min-height: 300px;
  width: 100%;
  background-color: var(--secondaryColor);
  color: var(--acsentColor);
  padding-bottom: 50px;
  padding-top: 100px;
  font-size: 1.2rem;
}
/* End Quotes */

/* EXPERIMENT ABOUT */
.about h3 {
  color: var(--semitersierColor);
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 40px;
  padding-top: 50px;
}
.progresstext {
  padding-top: 20px;
}

/* END EXPERIMENT ABOUT */

/* About */
hr {
  width: 30%;
  height: 5px;
  color: var(--acsentColor);
  margin: 0 auto;
  opacity: 100%;
}

#about {
  min-height: 300px;
  width: 100%;
  background-color: var(--mainColor);
  color: var(--tersierColor);
  padding-bottom: 30px;
}

.deskripsi {
  text-align: justify;
}
#about p a:hover {
  text-decoration: underline;
}
/* End About */

/* SERVICES  */
#skill {
  padding: 5px 0;
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.skill-list div {
  color: var(--secondaryColor);
  background: var(--tersierColor);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.skill-list div i {
  color: var(--secondaryColor);
  font-size: 55px;
  margin-bottom: 30px;
}
.skill-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.skill-list div a {
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.skill-list div p {
  font-size: 14px;
  text-align: justify;
}
.skill-list .kartu:hover {
  background: var(--acsentColor);
  transform: translateY(-10px);
  color: var(--secondaryColor);
  box-shadow: 0 0 5px var(--acsentColor);
}
.skill-list .kartu .btn {
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.skill-list .kartu .btn:hover {
  box-shadow: 0 0 8px var(--tersierColor);
}
/* END SERVICES */

/* Skill */
#skill {
  min-height: 600px;
  width: 100%;
  color: var(--secondaryColor);
}
#skill .row {
  padding-top: 50px;
  padding-bottom: 150px;
}
#skill img {
  width: 12%;
  margin: 20px;
}

#skill .card {
  background-color: #e1e1e1;
  height: 350px;
}

/* End Skill */

/* Sertifikat */
#sertifikat {
  margin-top: -170px;
  padding-top: 270px;
  padding-bottom: 90px;
  background-color: var(--secondaryColor);
}
#sertifikat hr {
  height: 1px;
}
#sertifikat p,
a {
  color: var(--semitersierColor) !important;
  text-decoration: none;
}
#sertifikat a {
  font-family: Arial, Helvetica, sans-serif;
}
#sertifikat img {
  width: 49%;
  padding: 10px;
}

#sertifikat p:hover {
  text-decoration: underline;
}
/* End Sertifikat */

/* PROJECT */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #be3144);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer a {
  margin-top: 5px;
  color: #be3144 !important;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}

.project h3 {
  color: #f3f4f7;
  font-weight: 550;
  font-size: 1.2rem;
  padding-top: 10px;
}

.project p {
  padding-top: 20 px;
  color: #f3f4f7;
}

.button {
  display: block;
  margin: 40px auto;
  width: fit-content;
  border: 3px solid #303841;
  padding: 10px 35px;
  border-radius: 6px;
  text-decoration: none !important;
  font-weight: 600;
  color: #303841 !important;
  transition: background 0.5s;
}

.button:hover {
  background-color: #303841;
  color: #f3f4f7 !important;
}
/* END PROJECT */

/* Contact Me */
#contact {
  background-color: var(--secondaryColor);
  padding-bottom: 10px;
}
#contact .btn-submit:hover {
  box-shadow: 0 0 5px var(--acsentColor);
}
#contact img {
  width: 10%;
}
#contact .thank-you {
  padding-top: 150px;
}
/* End Contact Me */

/* Footer */
footer {
  background-color: var(--mainColor);
}
/* End Footer */
